

<div class="row">

      <div class="col s4" *ngFor="let coin of coins">

          <div class="card">

              <div class="card-image">

                <img src="../../../assets/INNOVATION.png">
                <span class="card-title">{{ coin.name }}</span>
                <a class="btn-floating halfway-fab waves-effect waves-light red " [routerLink]="['/edit', coin._id]"><i class="material-icons">brush</i></a>
                
                
              </div>
              <div class="card-content">
                 
                  <p>Prix : {{ coin.price }} €</p>
                  <button  (click)="deleteCoin(coin._id)" ><i class="material-icons">delete</i></button>
                  
              </div>
            </div>

         
       
    </div>

  

   