

<div class="row">

      <div class="col s4" *ngFor="let innov of innovs">

          <div class="card">

              <div class="card-image">

                <img src="{{innov.imageURL}}">
                <span class="card-title">{{ innov.name }}</span>
                <a class="btn-floating halfway-fab waves-effect waves-light red " [routerLink]="['/edit', innov._id]"><i class="material-icons">brush</i></a>
                
                
              </div>
              <div class="card-content">
                 
                  <p>Auteur : {{ innov.author }} </p>
                  <p>Descriptio, : {{ innov.description }} </p>
                  <p>Contact : {{ innov.contact }} </p>
                 
                  <button  (click)="deleteInnov(innov._id)" ><i class="material-icons">delete</i></button>
                  
              </div>
            </div>

         
       
    </div>

  

   