<div >
  <div >
    {{ title }}
  </div>
  <div >
    <form [formGroup]="angForm" novalidate>
      <div >
        <label class="col-md-4">Nom</label>
        <input type="text"  formControlName="name" #name />
      </div>
     
      <div >
        <label class="col-md-4">Auteur</label>
        <input type="text"  formControlName="author" #author/>
      </div>

      <div >
        <label class="col-md-4">URL de l'image</label>
        <input type="text"  formControlName="imageURL" #imageURL/>
      </div>

      <div >
        <label class="col-md-4">Description</label>
        <input type="text"  formControlName="description" #description/>
      </div>

      <div >
        <label class="col-md-4">Contact</label>
        <input type="text"  formControlName="contact" #contact/>
      </div>
      
      
        <div>
          <button class="waves-effect waves-light btn" (click)="addInnov(name.value,author.value,imageURL.value,description.value,contact.value)" [disabled]="angForm.pristine || angForm.invalid">Add</button>
        </div>
    </form>
  </div>
</div>





